// ────────────── Startup Applications ──────────────
    // spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
    spawn-sh-at-startup "~/.bin/Polkit.sh"
    spawn-sh-at-startup "/usr/bin/gnome-keyring-daemon --start --components=gpg"
    spawn-sh-at-startup "/usr/bin/gnome-keyring-daemon --start --components=pkcs11"
    spawn-sh-at-startup "/usr/bin/gnome-keyring-daemon --start --components=secrets"
    spawn-sh-at-startup "/usr/bin/gnome-keyring-daemon --start --components=ssh"
    spawn-sh-at-startup "awww-daemon" // Wallpaper daemon
    spawn-sh-at-startup "awww img ~/.config/wallpapers/bg_0.jpg" // Set wallpaper
    spawn-sh-at-startup "~/.config/waybar_1/waybar-niri.sh" // Launch waybar
    spawn-sh-at-startup "~/.bin/init_gtk"

