    window-rule {
        match app-id=r#"firefox$"# title="^Picture-in-Picture$"
        match app-id="1password"
        match app-id="org.pulseaudio.pavucontrol"
        match app-id="nm-connection-editor"
        match title="^Welcome to Android Studio$" // xev

        open-floating true // Always float Firefox PiP windows
    }


    window-rule {
        geometry-corner-radius 10 // Set every window radius to 20
        clip-to-geometry true
    }

    // Open Firefox maximized and on the "browser" workspace
    window-rule {
        match app-id="firefox"
        // match app-id="Alacritty"
        match app-id="code"
        match app-id="code-insiders"
        match app-id="thunar"
        match app-id="jetbrains-studio"
        match app-id="kicad"

        //open-on-workspace "browser"
        open-maximized true
        // default-column-width {}
    }

