*.log
*.bak
.gitconfig
.ssh

.config/zsh/zhistory
.config/zsh/zcompdump
.config/zsh/.zcompdump
.config/gtk-3.0/bookmarks
.config/cava/shaders
.config/OrcaSlicer/cache
.config/OrcaSlicer/log
.config/yazi/plugins
.uuid
.config/kicad/9.0/installed_packages.json
.config/opencode/.lock-58d79985acb3c01d.tmp
.config/opencode/smart-title.jsonc
.config/ags/.github
**/__pycache__
**/.initial_startup_done
