@import "matugen-colors.scss";

*{
  font-family: 'Maple Mono';
  font-size:1.2rem;
  background: rgba(0,0,0,0);
  padding: 0;
  margin: 0;
}

.time,
.workspaces,
.bottom {
  background-color: $background;
  color: $primary;
  border-radius: 8px;
  border: 2px solid $surface_tint;
  padding: 8px;
}

.workspaces button {
  padding: 0;
  border: 0;
}
