 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #96719F;
active-foreground: #F1D7EF;
normal-background: #161219;
normal-foreground: #F1D7EF;
urgent-background: #E17A91;
urgent-foreground: #F1D7EF;

alternate-active-background: #765F7B;
alternate-active-foreground: #F1D7EF;
alternate-normal-background: #161219;
alternate-normal-foreground: #F1D7EF;
alternate-urgent-background: #161219;
alternate-urgent-foreground: #F1D7EF;

selected-active-background: #96719F;
selected-active-foreground: #161219;
selected-normal-background: #96719F;
selected-normal-foreground: #161219;
selected-urgent-background: #765F7B;
selected-urgent-foreground: #161219;

background-color: #161219;
background: rgba(0,0,0,0.7);
foreground: #F1D7EF;
border-color: #96719F;

color0: #3D3A41;
color1: #4600BF;
color2: #4602BF;
color3: #59475C;
color4: #705577;
color5: #A95C6D;
color6: #A0699E;
color7: #E2BDE0;
color8: #9E849D;
color9: #5D01FE;
color10: #5E02FF;
color11: #765F7B;
color12: #96719F;
color13: #E17A91;
color14: #D68CD2;
color15: #E2BDE0;


}

